@model Prova.Models.TipoDeAssociacao
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Id</h2>
<h2>@Model.Nome</h2>
<h2>@Model.Mensalidade</h2>
<h2>@Model.periodo</h2>
